/* Bootstrap3 customizations
   =========================
 */

body {
    padding-top: 50px;
}

div.jumbotron {
    background-color: #BAE0FF;
}

footer.footer {
    background-color: #BAE0FF;
    height: 40px;
    padding-top: 10px;
}

footer div p {
    text-align: center;
}
